/* By width */
@media(max-width: 414px){

    /* Index page */

    #info p {
        font-size: 14px;
        letter-spacing: 1px;
    }

    #info .btn {
        width: 80%;
    }

    #img-container div {
        left: -150%;
        width: 250px;
        height: 250px;
    }

   #main-content #nav-dots-container{
       display: none;
    }

    /* Events page */
    
    #events-container h1 {
    padding: 0 0 25px 0;
    font-size: 14px;
    }

    #events-container h3 {
    padding: 0 0 25px 0;
    font-size: 12px;
    width: 90%;
    }

    #events-content #nav-dots-container {
        display: none;
    }

    #events-container #footer p{
        font-size: 12px;
    }

    #mobile-navigation{
        display: block;
    }

    
#events-content{
    height: 60%;
}

.event-card-text-title {
    font-size: 12px;
}

.event-card-category{
    font-size: 10px; 
}
.event-card-text-description {
    font-size: 10px; 
}

.event-card-text-info-li {
    font-size: 10px;
}

/* Location page */
 
#location-container {
    display: flex;
    flex-direction: column-reverse;
}

#location-container #nav-dots-container {
    display: none;
}
#location-container #mobile-navigation {
    display: block;
}

#loc-data h2 {
    font-size: 16px;
}

#loc-data p {
    width: 70%;
}

#loc-data p, #loc-data span {
    font-size: 14px;
}

#location-container #footer {
   display: none;
} 

/* Contact page */
#contact-container {
    flex-direction: column;
}

#contact-container #nav-dots-container {
    display: none;
}
#contact-info {
    width: 100%;
    text-align: justify;
    font-size: 14px;
}

#contact-info h2 {
    align-self: center;
    height: 10%;
    font-size: 18px;
}

#contact-info p{
    font-size: 12px;
}
}

/* By height */