/* By width */
@media(max-width:320px){
    #img-container div {
        left: -190%;
        width: 250px !important;
        height: 250px !important;
    }

}
@media(max-width: 450px){

    /* Index page */

    #info p {
        font-size: 14px;
        letter-spacing: 1px;
    }

    #info .btn {
        width: 80%;
    }

    #img-container div {
        left: -190%;
        width: 300px;
        height: 300px;
    }

   #main-content #nav-dots-container{
       display: none;
    }

    /* Events page */
    
    #events-container h1 {
    padding: 0 0 25px 0;
    font-size: 14px;
    }

    #events-container h3 {
    padding: 0 0 25px 0;
    font-size: 12px;
    width: 90%;
    }

    #events-container #nav-dots-container {
        display: none !important;
    }

    #events-container #footer p{
        font-size: 12px;
    }

    #events-container #mobile-navigation{
        display: block;
    }

    
#events-content{
    height: 60%;
}

.event-card-text-title {
    font-size: 12px;
}

.event-card-category{
    font-size: 10px; 
}
.event-card-text-description {
    font-size: 10px; 
}

.event-card-text-info-li {
    font-size: 10px;
}

/* Location page */
 
#location-container {
    display: flex;
    flex-direction: column-reverse;
}

#location-container #nav-dots-container {
    display: none;
}
#location-container #mobile-navigation {
    display: block;
}

#loc-data h2 {
    font-size: 16px;
}

#loc-data p {
    width: 70%;
}

#loc-data p, #loc-data span {
    font-size: 14px;
}

#location-container #footer {
   display: none;
} 

/* Contact page */
#contact-container {
    flex-direction: column;
}

#contact-container #nav-dots-container {
    display: none;
}
#contact-info {
    width: 100%;
    text-align: justify;
    font-size: 14px;
}

#contact-info h2 {
    align-self: center;
    height: 10%;
    font-size: 18px;
}

#contact-info p{
    font-size: 12px;
}
}

@media(max-height:540px){
    #location-container #map-frame{
        height:50%;
     } 
    
    #loc-data h2 {
        font-size: 22px;
    }
    
    #loc-data p, #loc-data span {
        font-size: 18px;
    }
}

@media(max-height: 414px){
    /* Index */
    #main-content{
        flex-direction: row-reverse;
    }

    #img-container div {
        left: 15%;
        width: 250px;
        height: 250px;
    }

    /* Events */
    #events-container #nav-dots-container{
        display: none !important;
    }

    #events-container #mobile-navigation {
        display: block;
    }

    #events-container h1{
        font-size: 12px;
        padding: 0;
    }
    #events-container h3{
        font-size: 12px;
    }

    #events-content {
        height: 70%;  
    }

    .event-cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .event-card{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .event-card::after, .event-card-image{
        display: none;
    }

    .event-card:hover .event-card-text{
        pointer-events: none;
    }

    .event-card-text{
        height: 100%;
        width: 100%;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: none;
        transform: none;
        opacity: 1;
        padding: 3px 0;
        margin: auto;
       
    }

    .event-card-text-wrap{
        top: 0;
        transform: none;
    }

    .event-card-text-title{
        font-size: 14px;
        padding: 0;
        margin: 0;
    }

    .event-card-category, .event-card-text-description, .event-card-text-info-li, #events-container #footer p{
        padding: 3px;
        font-size: 12px;
        opacity: 1;
    }

    #events-container #footer{
        font-size: 11px;
        bottom: 0px;
        opacity: 0.6;
    }
    #events-container #footer p{
        font-size: 9px;
    }

    #events-content #nav-dots-container{
        display: none;
    }

    #events-content #mobile-navigation {
        display: block;
        height: 4%;
    }

    /* Location */
    #location-container {
        display: flex;
        flex-direction: column-reverse;
    }

    #location-info{
       height:30%;
    }

    #loc-data h2 {
        font-size: 14px;
    }
    
    #loc-data p {
        width: 70%;
        padding: 5px;
    }
    
    #loc-data p, #loc-data span {
        font-size: 12px;
    }

    #location-container #nav-dots-container {
        display: none;
    }
   
    
}



@media(max-height:320px){
    #events-container h1{
        font-size: 10px;
    }
    #events-container h3{
        font-size: 10px;
    }

    .event-card-text-title{
        font-size: 10px;
    }

    .event-card-category, .event-card-text-description, .event-card-text-info-li, #events-container #footer p{
        font-size: 8px;
    }

}




